<launch>
    <!-- iRobot create -->
   <arg name="config" default="$(find ca_driver)/config/default.yaml" />
   <arg name="desc" default="true" />

   <node name="ca_driver" pkg="ca_driver" type="ca_driver" output="screen">
    <rosparam command="load" file="$(arg config)" />
    <param name="robot_model" value="CREATE_1" />
   </node>

   
   <include if="$(arg desc)" file="$(find ca_description)/launch/create_1.launch" />

  <!-- joystick -->   

  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joy_config" default="xbox360" />
  <arg name="teleop_config" default="$(find ca_tools)/config/$(arg joy_config).yaml" />

  <rosparam file="$(arg teleop_config)" command="load" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" value="20" />
  </node>

  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
  </node>

 
</launch>


